* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bg: #d8d8d8;
    --fg: #171717;
    --fgT: #17171700;
    --rageLight: #f13d17;
    --rageDark: #962417;
    /* --track: #969696; */
    --track: #4ca4f2;
    --animDur: 0.2s;
    --transDur: 0.1s;
    font-size: calc(32px + (48 - 32) * (100vw - 320px) / (2560 - 320));
}
body,
input {
    color: var(--fg);
    font: 0.5em 'Oswald', sans-serif;
}

.logo {
    max-width: 560px;
    width: 90%;
}

body {
    background: linear-gradient(140.53deg, #bbdff4 0%, #fedbcc 100%);
    /* background: var(--bg); */
    display: flex;
    /* height: 100vh; */
    min-height: 100vh;
    padding: 50px;
}
form {
    margin: auto;
    width: 80%;
    max-width: 900px;
}
img {
    vertical-align: middle;
    margin: 0px 50px;
}

.form_control {
    background-color: white;
    width: 100%;
    padding: 35px 40px;
    box-shadow: inset 10px 0px 2px #4ca4f2;
    border-radius: 40px;
    margin: 50px auto;
}

.form_control__textarea {
    width: 100%;
    background-color: rgba(76, 165, 242, 0.1);
    border-bottom: 2px solid transparent;
    font-family: inherit;
    padding: 20px;
}

.form_control__textarea:focus {
    outline: 0;
    border-bottom: 2px solid var(--track);
}

.form_control__input {
    width: 100%;
    background-color: rgba(76, 165, 242, 0.1);
    border-bottom: 2px solid transparent;
    font-family: inherit;
    font-size: inherit;
    padding: 20px;
}

.form_control__input:focus {
    outline: 0;
    border-bottom: 2px solid var(--track);
}

.bg {
    /* The image used */
    background-image: url('img/thanks.jpg');

    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rage {
    position: relative;
}
.rage__input,
.rage__track,
.rage__flame-area {
    width: 100%;
}
.rage__input {
    background: transparent;
    display: block;
    outline: transparent;
    margin: 2.25em 0;
    height: 0.75em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.rage__input::-webkit-slider-thumb {
    background: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
}
.rage__input::-moz-range-thumb {
    background: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
}
.rage__input::-moz-focus-outer {
    border: 0;
}

/* .rage__input--active is for keyboard interaction */
.rage__input:active + .rage__track,
.rage__input--active + .rage__track {
    background: var(--rageDark);
}
.rage__input:active ~ .rage__face,
.rage__input--active ~ .rage__face,
.rage__input:active ~ .rage__face:after,
.rage__input--active ~ .rage__face:after {
    background: var(--rageLight);
}
.rage__input:active ~ .rage__face:before,
.rage__input--active ~ .rage__face:before {
    animation: pulse var(--animDur) var(--transDur) linear infinite;
    transform: scale(1);
}
.rage__input:active ~ .rage__face:after,
.rage__input--active ~ .rage__face:after {
    transform: scaleY(0);
}
.rage__input:active ~ .rage__face .rage__face-mouth,
.rage__input--active ~ .rage__face .rage__face-mouth {
    transform: scaleY(1);
}
.rage__track,
.rage__flame-area,
.rage__face,
.rage__face:before,
.rage__face:after,
.rage__value {
    position: absolute;
}
.rage__track,
.rage__flame-area,
.rage__face {
    left: 0;
}
.rage__track,
.rage__face {
    transition: background var(--transDur) linear;
}
.rage__track,
.rage__face:before,
.rage__face:after {
    content: '';
    display: block;
}
.rage__track {
    background: var(--track);
    border-radius: 0.75em;
    top: 0;
    height: 0.75em;
    z-index: -3;
}
.rage__flame-area {
    bottom: -0.375em;
    width: 100%;
    height: 3em;
    z-index: -2;
}
.rage__face,
.rage__face:before {
    border-radius: 50%;
}
.rage__face {
    background: #fff;
    box-shadow: 0 0 0 0.1em #0003 inset;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    top: -0.8em;
    width: 0em;
    height: 0em;
    will-change: transform;
    z-index: -1;
}
.rage__face:before,
.rage__face-mouth {
    transition: transform var(--transDur) linear;
}
.rage__face:before {
    background-image: radial-gradient(
            100% 100% at 50% 0,
            var(--fgT) 16%,
            var(--fg) 18% 31%,
            var(--fgT) 33%
        ),
        radial-gradient(
            100% 100% at 100% 50%,
            var(--fgT) 16%,
            var(--fg) 18% 31%,
            var(--fgT) 33%
        ),
        radial-gradient(
            100% 100% at 50% 100%,
            var(--fgT) 16%,
            var(--fg) 18% 31%,
            var(--fgT) 33%
        ),
        radial-gradient(
            100% 100% at 0 50%,
            var(--fgT) 16%,
            var(--fg) 18% 31%,
            var(--fgT) 33%
        );
    top: -0.2em;
    right: -0.2em;
    width: 0.6em;
    height: 0.6em;
    transform: scale(0);
}
.rage__face:after {
    background: #f1f1f1;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
    top: 0.3em;
    left: calc(50% - 0.4em);
    width: 0.8em;
    height: 0.4em;
    transition: background var(--transDur) linear,
        transform var(--transDur) linear;
    transform: scaleY(0);
    transform-origin: 50% 0;
}
.rage__value {
    top: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #242424;
        --fg: #f1f1f1;
        --fgT: #f1f1f100;
        --track: #575757;
    }
}

@keyframes pulse {
    from,
    to {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
}

.btn {
    align-items: center;
    appearance: none;
    /* background-color: #fcfcfd; */
    background: #00427a;
    border-radius: 20px;
    /* border-radius: 4px; */
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    /* color: #36395a; */
    color: white;
    cursor: pointer;
    display: inline-flex;
    /* font-family: 'JetBrains Mono', monospace; */
    height: 4em;
    width: 8em;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    /* padding-left: 16px; */
    /* padding-right: 16px; */
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    /* font-size: 18px; */
    font-size: 20px;
}

.btn:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: white;
}

.btn:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}

@media (max-width: 800px) {
    form {
        width: 100%;
    }
}

@media (max-width: 550px) {
    body {
        padding: 30px;
        font-size: 0.4em;
    }

    .form_control {
        padding: 20px 25px;
        box-shadow: inset 5px 0px 2px #4ca4f2;
        border-radius: 30px;
        margin: 30px auto;
    }

    .form_control p {
        margin-bottom: 0.5rem;
    }

    .form_control__textarea {
        padding: 10px;
    }

    .btn {
        border-radius: 10px;
        height: 3em;
        width: 6em;
        font-size: 15px;
    }
}
