{% extends 'accounts/main.html' %} 
{% load static %} 

{% block css_files %} 
    <link rel="stylesheet" href={% static 'css/thanks.css'%} /> 
{% endblock %} 

{% block content %}
    <div class="thank_you__container">
        <div>
            <h1>Thank You!</h1>
            <p>
                <strong>
                   Your survey answers have been submitted. We value your feedback.
                </strong>
            </p>

            <br>
            <hr />
            <p>Having trouble? <a href="tel:+951654530">+95 1 654530 ext.145</a></p>
        </div>
    </div>
{% endblock %}
