<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<div class="d-flex justify-content-center">
<div class="jumbotron text-center ">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Your survey answers have been submitted. We value your feedback.</strong></p>
  <hr>
  <p>
    Having trouble? <a href="tel:+951654530">+95 1 654530 ext.145</a>
  </p>
</div>
</div>

